<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
<table class="table table-bordered">
<th>Movie Title</th><th>Release Date</th><th>Video Release Date(if applicable)</th><th>IMDB Website Link</th>
<tr><td>{{ movie.movie_title }}</td>
<td>{{ movie.release_date }}</td>
<td>{{ movie.video_release_date }}</td>
<td>{{ movie.imdb }}</td></tr>
</table>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>